* {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: var(--font-base) !important;
    color: var(--text-neutral-500) !important;
}

body {
    font-size: var(--fs-200);
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    font-weight: var(--bold);
    line-height: 1.1;
    color: inherit;
}

strong,
b {
    font-size: inherit !important;
    font-weight: var(--medium);
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit !important;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

address {
    font: inherit;
}

input,
textarea{
    font: var(--regular);
    color: var(--text-neutral-500) !important;
}
