@use "../../abstracts" as *;

.doubtsCta{
    width: 100%;
    background:{
        image: url("../images/background-cta-duvidas.jpg");
        size: cover;
        position: center;
        repeat: no-repeat;
    }
}